.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 170px;
    border-bottom: 2px solid #DC2F02;
}

.logo {
    font-size: 35px;
    text-decoration: none;
    color: #DC2F02;
    transition: 0.3s ease-in;
}

.logo:hover {
    color: #E85D04;
}

.nav {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 20px;
    gap: 60px;
    cursor: pointer;
}

.nav li p {
    font-size: 20px;
    width: auto;
    cursor: pointer;
}

.nav li {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav .anchor_link{
    text-decoration: none;
    color: #fff;
}

/* Fixing nav_connect */
.nav_connect {
    display: inline-block;
    text-align: center;
    padding: 15px 35px;
    border-radius: 50px;
    border: 2px solid #E85D04;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: transparent;
    color: #E85D04;
}

.nav_connect:hover {
    background: #DC2F02;
    border-color: #E85D04;
    color: white;
}

/* Fixing anchor_link inside nav_connect */
.nav_connect .anchor_link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

/* Active state */
.active {
    /* background: #DC2F02; */
    color: white !important;
    border-color: #E85D04;
    padding: 10px;
    border-bottom: 2px solid #DC2F02;
    /* border-radius: 20px; */
}
